<!DOCTYPE html>
  <html>
    <body>
      <h1>The ChatterBot</h1>
        <form>
          <label><b>Hi I'm ChatterBot, how are you today?</b></label>
          <input type="text" name="userInput" id="userInput">
          <button type="button" onclick="loadDoc()">Chat</button>
        </form>
        <div id="demo">
        </div>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("POST", "userInput");
  xhttp.setRequestHeader("Cache-Control", "no-cache");
  xhttp.setRequestHeader("value", document.getElementById("userInput").value);
  xhttp.send();
}
</script>

</body>
</html>
